<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <directpay>
                <active>1</active>
                <model>DirectPay\Directpay\Model\Payment\DirectPay</model>
                <order_status>pending</order_status>
                <title>DirectPay</title>
                <group>offline</group>
                <!-- <payment_action>authorize_capture</payment_action> -->
            </directpay>
            <!-- payment-config -->
        </payment>
    </default>
</config>
